#content {
  background-repeat: no-repeat;
  background-position: top center;
  width: 800;
  height: 600;
  margin: auto;

  border: 5px solid #ccc;
}

#nav a {
  float: right;
  display: block;
  text-decoration: none;
  padding: 5px;
}

#nav a:hover {

}

#compliment {
  position: relative;
  left: 500;
  top: 100;
  width: 275px;
  font-family: monospace;
  font-size: 20px;
}
