.invisible {
  display: none;
}

#compliment {
  position: relative;
  left: 525;
  top: 100;
  width: 275px;
  font-family: monospace;
  font-size: 20px;
}

#content {
  background-repeat: no-repeat;
  background-position: top center;
  width: 800px;
  height: 600px;
  margin: auto;

}

#nav a {
  text-decoration: none;
  padding: 5px;
  font-size: 150%;
}

#nav #evolve {
  position: absolute;
  top: 600px;
  right: 100px;
}
#nav #why {
  position: relative;
  top: 50px;
  left: 500px;
}
#nav #what {
  position: absolute;
  top: 500px;
  left: 25px;
}
#nav #okay {
  position: relative;
  left: 750px;
}
