#compliment {
  position: relative;
  left: 500;
  top: 100;
  width: 275px;
  font-family: monospace;
  font-size: 20px;
}

#content {
  background-repeat: no-repeat;
  background-position: top center;
  width: 800px;
  height: 600px;
  margin: auto;

}

#nav a {
  text-decoration: none;
  padding: 5px;
  font-size: 150%;
}

#nav #why {
  float: right;
}
#nav #more {
  position: relative;
  top: 50px;
  left: 500px;
}
#nav #evolve {
  position: absolute;
  top: 500px;
  left: 25px;
}
